---
- name: Install dependencies
  apt:
    name:
      - gcc-multilib
    update_cache: yes

- name: Create challenge directories
  file:
    path: /home/ctfbinary/Desktop/{{ item }}
    state: directory
  loop:
    - challenge1
    - challenge2
    - challenge3

- name: Copy challenge code
  copy:
    src: "../{{ item }}/{{ item }}.c"
    dest: "/home/ctfbinary/Desktop/{{ item }}/{{ item }}.c"
  loop:
    - challenge1
    - challenge2
    - challenge3

- name: Copy Makefile
  copy:
    src: "../{{ item }}/Makefile"
    dest: "/home/ctfbinary/Desktop/{{ item }}/Makefile"
  loop:
    - challenge1
    - challenge2
    - challenge3

- name: Copy flag.txt
  copy:
    src: "../{{ item }}/flag.txt"
    dest: "/home/ctfbinary/Desktop/{{ item }}/flag.txt"
    mode: 0600
  loop:
    - challenge1
    - challenge2
    - challenge3

- name: Compile challenge
  shell: sudo make chdir=/home/ctfbinary/Desktop/{{ item }}
  loop:
    - challenge1
    - challenge2
    - challenge3

- name: Set suid bit for binaries
  file:
    path: /home/ctfbinary/Desktop/{{ item }}/{{ item }}
    owner: root
    state: file
    mode: "u+s"
  loop:
    - challenge1
    - challenge2
    - challenge3