- name: Create the user 'ctfbinary'
  user:
    name: ctfbinary
    shell: /bin/bash
    password: $6$abcdefgh$yCVtrUO5CqhMHMwa/771uGWjhiP4/4a5O3fAmnBTCO1fTSenjeTt79RkLShuTLuR.YLa8HxmSiNYEw8L2gzAQ0

- name: Update root user's password
  user:
    name: root
    update_password: always
    password: $6$abcdefgh$GQgL3YsY88Tbwt0zu06NApR3XY/X9OpfbgHC9V4elh.t94IfHFKWyxaOHFDc16aiipP530FdP4h.14j5VE6Iy.

- name: Set authorized key file for ctfbinary user
  authorized_key:
    user: ctfbinary
    state: present
    key: "{{ lookup('file', '../.ssh/ctfbinary.pub') }}"


